/.git
/build/*
!/build/doc
!/build/main.js
!/build/wasp_hls_bg.wasm
!/build/worker.js
/demo
/node_modules
/scripts
/src
/target
/.eslintrc.js
/.gitignore
/.prettierignore
/.prettierrc.json
/Cargo.lock
/Cargo.toml
/LICENSE
/package-lock.json
/package.json
